extends layout

block content
  .container
    .row
      .col-md-8.offset-md-2
        .card
          .card-header
            h2.mb-4 Tasks
            .d-flex.justify-content-between 
              div 
                button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#addTaskModal")
                  i.fas.fa-plus
                  | Add Task
              div.d-flex 
                input(type="text", id="search", placeholder="Search tasks...", class="me-2") 
                select#statusFilter.form-select(name="status")
                  option(value="") All Statuses
                  option(value="completed") Completed
                  option(value="todo") To Do
                  option(value="in_progress") In Progress
          .card-body
            table.table.mt-3s
              thead
                tr
                  th Title
                  th Description
                  th Status
                  th Actions
              tbody#tasksContainer
            nav(aria-label="Page navigation") 
              ul.pagination#pagination

      // Add Task Modal
  .modal(id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title(id="addTaskModalLabel") Add New Task
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          form(id="addTaskForm")
            .form-group
              label.form-label.control-label(for="title") Title
              input#title.form-control(type="text" name="title" placeholder="Enter task title")
            .form-group
              label.form-label.control-label(for="description") Description
              textarea#description.form-control(name="description" rows="3" placeholder="Enter task description")
            .form-group 
              label.form-label.control-label(for="dueDate") Due Date
              input#dueDate.form-control(type="date" name="dueDate") 
            .form-group
              label.form-label.control-label(for="status") Status
              select#status.form-select(name="status")
                option(value="todo") To Do
                option(value="completed") Completed
                option(value="in_progress") In Progress
            .modal-footer
              #error-message-task.text-danger(style="display:none;") Empty or Invalid Field
              button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
              button.btn.btn-primary(type="submit") Create Task
  
  //edit task
  .modal(id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title(id="editTaskModalLabel") Edit Task
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          form(id="editTaskForm")
            .form-group
              label.form-label.control-label(for="editTitle") Title
              input#editTitle.form-control(type="text" name="title")
            .form-group
              label.form-label.control-label(for="editDescription") Description
              textarea#editDescription.form-control(name="description" rows="3")
            .form-group 
              label.form-label.control-label(for="editDueDate") Due Date
              input#editDueDate.form-control(type="date" name="dueDate") 
            .form-group
              label.form-label.control-label(for="editStatus") Status
              select#editStatus.form-select(name="status")
                option(value="completed") Completed
                option(value="todo") To Do
                option(value="in_progress") In Progress
            .modal-footer
              #error-message-task.text-danger(style="display:none;") Empty or Invalid Field
              button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
              button.btn.btn-primary(type="submit") Save Changes
    // Modal for displaying full description
  .div.modal.fade#descriptionModal(tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          h5.modal-title#descriptionModalLabel Task Description
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body#descriptionModalBody
           // Full description will be inserted here
        .modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
  script(src="/tasks.js")   