extends layout

block content
  .container
    .row
      .col-md-8.offset-md-2
        .card
          .card-header
            h2 Tasks
            .d-flex.justify-content-end 
              button.btn.btn-primary.me-2(type="button" data-bs-toggle="modal" data-bs-target="#addTaskModal") 
                i.fas.fa-plus 
                | Add Task
              button.btn.btn-secondary(type="button") Filter 

          .card-body
            table.table.mt-3
              thead
                tr
                  th Title
                  th Description
                  th Status
                  th Actions
              tbody
                each task in tasks
                  tr
                    td #{task.title}
                    td #{task.description}
                    td
                      case task.status
                        when 'todo'
                          | To Do
                        when 'in_progress'
                          | In Progress
                        when 'completed'
                          | Completed
                        default
                          | To Do
                    td
                      a.btn.btn-sm.btn-primary(href=`/tasks/${task.id}`) Edit
                      button.btn.btn-sm.btn-danger(onclick=`deleteTask(${task.id})`) Delete

      // Add Task Modal
  .modal(id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title(id="addTaskModalLabel") Add New Task
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          form(id="addTaskForm")
            .form-group
              label.form-label.control-label(for="title") Title
              input#title.form-control(type="text" name="title" placeholder="Enter task title")
            .form-group
              label.form-label.control-label(for="description") Description
              textarea#description.form-control(name="description" rows="3" placeholder="Enter task description")
            .form-group 
              label.form-label.control-label(for="dueDate") Due Date
              input#dueDate.form-control(type="date" name="dueDate") 
            .form-group
              label.form-label.control-label(for="status") Status
              select#status.form-select(name="status")
                option(value="completed") Completed
                option(value="todo") To Do
                option(value="in_progress") In Progress
            .modal-footer
              #error-message-task.text-danger(style="display:none;") Empty or Invalid Field
              button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
              button.btn.btn-primary(type="submit") Create Task
  script(src="/tasks.js")   