extends layout.pug
block content
  .container-fluid.vh-100.bg-large
    .row.justify-content-center.align-items-center.h-100 
      .col-md-6.p-5.bg-light.rounded-3
        h1.display-4.text-primary.text-center TO-DO APP 
        p.lead.text-center Keep track of your tasks with ease.
        div(style="text-align: center;") 
          a.btn.btn-primary.btn-lg.mt-4(href="/dashboard") Get Started