extends layout.pug
block content
  .container
    .row.justify-content-center
      .col-md-8
        .card
          .card-header Login
          .card-body
            form.form-horizontal(id='loginForm')
              .mb-3
                label.form-label.control-label(for='email') Email
                input#email.form-control(type='email' name='email')
              .mb-3
                label.form-label.control-label(for='password') Password
                input#password.form-control(type='password' name='password')
              .mb-3.py-3
                button.btn.btn-primary(type='submit' id='loginButton') Login
                a(href='/register').ps-2 Register
                #error-message.text-danger(style="display:none;") Incorrect username or password
                script(src="/login.js")   