body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

.bg-image {
  background-image: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.bg-large {
  background-image: url('largeBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.task-title,
.task-description,
.task-status {
  max-width: 200px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  table-layout: fixed; /* Crucial for fixed column widths */
  width: 100%; /* Ensure the table takes up the full width */
  border-collapse: collapse;
}

td {
  padding: 8px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}